<div class="container bg-dark p-5">
    <img src="../../../assets/img/blue_long_1.svg" alt="The Movie DB" width="auto" height="auto" loading="lazy">
</div>
<div class="container">
    <div class="row m-4 text-left">
        <h1 class="display-4">Current Movies</h1>
        <hr>
        
    </div>
    <app-cards></app-cards>
    <div class="row m-4 text-left">
        <h1 class="display-4">Popular Movies</h1>
        <hr>
        
    </div>
    <app-cards></app-cards>
    <div class="row m-4 text-left">
        <h1 class="display-4">Popular Kid's Movies</h1>
        <hr>
       
    </div>
     <app-cards></app-cards>
</div>
